* {
  font-family: cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 5% 10px 5%;
}

header div {
  display: flex;
  gap: 40px;
}

h1 {
  font-size: 40px;
}

button {
  font-size: 16px;
  padding: 5px 15px;
  border: 3px solid black;
  box-shadow: 3px 3px black;
  cursor: pointer;
  height: 44px;
}

button:hover {
  background-color: rgb(196, 194, 194);
}

button:active {
  background-color: gray;
  box-shadow: 1px 1px black;
}

hr {
  width: 95%;
  margin: auto;
}

/* Main Content */

main {
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 118px - 85px);
}

/* Footer */

footer {
  text-align: center;

}

footer p {
  padding: 30px;
}
